/* Paleta de cores para o tema claro */
:root {
  --background-color: #faf3e0; /* Fundo claro */
  --text-color: #4d4d4d; /* Texto castanho escuro */
  --highlight-color: #704c32; /* Castanho profundo */
  --secondary-color: #a67c52; /* Castanho médio para botões */
  --card-background: #ffffff; /* Fundo branco */
}

/* Paleta de cores para o tema escuro */
:root[data-theme='dark'] {
  --background-color: #1a1a1a; /* Fundo escuro */
  --text-color: #e4e4e4; /* Texto claro */
  --highlight-color: #b98d68; /* Bege claro para destaques */
  --secondary-color: #704c32; /* Castanho profundo */
  --card-background: #2a2a2a; /* Fundo escuro para botões */
}

/* Hero Banner */
.heroBannerIndex {
  padding: 6rem 0;
  text-align: center;
  background-color: var(--background-color); /* Fundo dinâmico */
  color: var(--text-color); /* Texto dinâmico */
  min-height: 60vh; /* Altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves */
}

/* Estilo do título */
.heroBannerIndex h1 {
  font-size: 3rem;
  color: var(--highlight-color); /* Cor dinâmica do título */
  margin-bottom: 1rem;
}

/* Subtítulo */
.heroBannerIndex p {
  font-size: 1.5rem;
  color: var(--text-color); /* Texto dinâmico */
  margin-bottom: 2rem;
}

/* Botão */
.filtroBotao {
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-color); /* Fundo do botão */
  color: var(--card-background); /* Texto claro no botão */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease; /* Transição suave */
}

.filtroBotao:hover {
  background-color: var(--highlight-color); /* Alteração no hover */
  transform: scale(1.05);
}
