/* Paleta de cores baseada em castanhos */
:root {
  --background-color-index: #d9c2a6; /* Castanho claro para o fundo */
  --text-color-index: #4d4d4d; /* Castanho escuro para o texto */
  --highlight-color-index: #704c32; /* Castanho profundo para destaques */
  --button-background: #a67c52; /* Castanho médio para o botão */
  --button-hover: #704c32; /* Castanho profundo no hover */
  --button-text-color: #ffffff; /* Texto branco no botão */
}

/* Estilização do banner apenas no index */
.heroBannerIndex {
  padding: 4rem 0;
  text-align: center;
  background-color: var(--background-color-index); /* Fundo castanho claro */
  color: var(--text-color-index); /* Texto castanho escuro */
}

.biblioteca-container h1 {
  font-size: 2.5rem;
  color: var(--highlight-color-index); /* Destaque para o título */
  text-align: center;
  margin-bottom: 1.5rem;
}

.biblioteca-container p {
  font-size: 1.2rem;
  color: var(--text-color-index); /* Texto castanho escuro */
  margin-bottom: 2rem;
}

/* Botão estilizado */
.filtroBotao {
  padding: 0.5rem 1rem;
  background-color: var(--button-background); /* Fundo castanho médio */
  color: var(--button-text-color); /* Texto branco */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.filtroBotao:hover {
  background-color: var(--button-hover); /* Fundo castanho profundo */
  transform: scale(1.05);
}