.contentSection {
    margin-bottom: 3rem;
  }
  
  .sectionTitle {
    font-size: 2rem;
    color: var(--highlight-color);
    margin-bottom: 1rem;
  }
  
  ul {
    padding-left: 1.5rem;
  }
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  a {
    color: var(--highlight-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  